{% extends "layout/base.html" %}

{% block 'title' %}Add Gender Page{% endblock 'title' %}

{% block 'content' %}

{% include "include/sidebar.html" %}
{% include "include/toastmess.html" %}

    <div class= "w-full ml-5 mt-16 mr-5" >
        <form action="/gender/add" method="post">
            {% csrf_token %}
            <div class="mx-auto w-full mb-2">
                <label for="gender" class="block text-sm font-medium mb-2">Gender</label>
                <input type="text" class="bg-white mb-2 px-3 py-2.5 border-gray-300 text-black block text-sm rounded-sm w-96 focus:outline-none focus:ring-blue-600 focus:border-blue-600" name="gender" id="gender" />
                <div class="flex">
                    <button type="submit" class="bg-green-600 hover:bg-green-800 text-sm font-medium text-white px-3 py-2.5 rounded-sm shadow-sm cursor-pointer">Save Gender</button>
                </div>
            </div>
        </form>
    </div>

{% endblock 'content' %}