{% extends "layout/base.html" %}
{% block 'title' %}
Genders list 

{% endblock 'title' %}

{% block 'content' %}

{% include "include/sidebar.html" %}
{% include "include/toastmess.html" %}

<div class= "w-full ml-5 mt-16 mr-5">
    <div class="relative overflow-x-auto rounded-sm">
        <table class="w-full">
            <thead class="text-xs text-left text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="text-xs text-black">
                {% for gender in gender %}
                <tr class= "hover:bg-gray-600 border-b border-gray-400">
                    <td class= "px-6 py-3">{{ gender.gender }}</td>
                    <td class= "px-6 py-3">
                        <div class="inline-flex shadow-sm">
                            <a href="/gender/edit/{{ gender.gender_id }}" class="bg-green-600 px-3 py-2.5 font-medium text-white hover:bg-green-800 hover:outline-none rounded-s-sm">Edit</a>
                            <a href="/gender/delete/{{ gender.gender_id }}" class="bg-red-600 px-3 py-2.5 font-medium text-white hover:bg-red-800 hover:outline-none rounded-e-sm">Delete</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}

